<!doctype html>
<html>
	<scipt>
		<meta charset="utf-8">
	    <meta name="HandheldFriendly" content="True">
	    <meta name="MobileOptimized" content="320">
	    <meta content="telephone=no" name="format-detection">
	    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
		<title>
			学生职业发展指导中心预约系统
		</title>
		<link type="text/css" href="/assets/css/style.css" rel="stylesheet">
		<script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/assets/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="/assets/jquery-ui-1.11.4.custom/jquery-ui.min.css" type="text/css">
	</head>
	<body background="/assets/img/bg.png"  style="text-align:center;">
		<div id="page_title">
			学生职业发展指导中心预约系统<br>管理员系统
		</div>
		<button onclick="removeReservations();">批量删除</button>
		<button onclick="cancelReservations();">取消预约</button>
		<button onclick="exportReservations();">导出选定预约</button>
		<input type="text" id="query_date" style="width:80px"/>
		<button onclick="queryReservations();">查询</button>
		<button onclick="logout();" style="margin-left: 50px;">退出登录</button>
		<div style="padding-top:10px">
			<!-- <button style="margin-left:50px" onclick="exportTodayReservations();">导出当天时间表</button> -->
		</div>
		<div style="padding-top:10px">
			请输入学生学号
			<input type="text" id="query_student" style="width: 100px"/>
			<button onclick="queryStudent();">查看学生信息</button>
		</div>
		<div style="padding-top: 10px">　
			起<input type="text" id="export_from" style="width: 100px"/>
			止<input type="text" id="export_to" style="width: 100px"/>
			<button onclick="exportPeriodReservations();">导出区间咨询</button>
		</div>
		<div id="page_maintable">
			
		</div>
		<div id="page_bottom"><br><br>清华大学学生职业发展指导中心<br>联系方式：010-62782007</div>

	</body>
	<script type="text/javascript" src="/assets/js/user.js"></script>
	<script type="text/javascript" src="/assets/js/admin.js"></script>
	<script type="text/javascript">
		$(function() {
			viewReservations();
			$('#query_date').datepicker({
				showOtherMonths: true,
				selectOtherMonths: true,
				showButtonPanel: true,
				dateFormat: 'yy-mm-dd',
				showWeek: true,
				firstDay: 1
			});
			$('#export_from').datepicker({
				showOtherMonths: true,
				selectOtherMonths: true,
				showButtonPanel: true,
				dateFormat: 'yy-mm-dd',
				showWeek: true,
				firstDay: 1
			});
			$('#export_to').datepicker({
				showOtherMonths: true,
				selectOtherMonths: true,
				showButtonPanel: true,
				dateFormat: 'yy-mm-dd',
				showWeek: true,
				firstDay: 1
			});
		});
	</script>
</html>
