<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="HandheldFriendly" content="True">
	    <meta name="MobileOptimized" content="320">
	    <meta content="telephone=no" name="format-detection">
	    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
		<title>
			学生职业发展指导中心预约系统
		</title>
		<link type="text/css" href="/assets/css/style.css" rel="stylesheet">
		<script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
	</head>
	<body background="/assets/img/bg.png">
		<div id="page_title">
			<!-- <img id="titleImage" style="width:100%;" src="/Reservation/img/xxfzzdzx.jpg"> -->
			<br><br>欢迎使用咨询预约系统<br>请根据您的需要选择相应咨询师和时间段进行预约
		</div>
		<div style="float:right;width:100%">
			<button onclick="logout();" style="margin:0 50px 10px 0;float:right">退出登录</button>
		</div>
		<div id="page_maintable" style="text-align:center;">
			
		</div>
		<div id="page_bottom"><br><br>清华大学学生职业发展指导中心<br>联系方式：010-62783128</div>
	</body>
	<script type="text/javascript" src="/assets/js/user.js"></script>
	<script type="text/javascript" src="/assets/js/student.js"></script>
	<script type="text/javascript">
		viewReservations();
	</script>
</html>
