<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="HandheldFriendly" content="True">
	    <meta name="MobileOptimized" content="320">
	    <meta content="telephone=no" name="format-detection">
	    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
		<title>
			学生心理发展指导中心预约系统
		</title>
		<link rel="stylesheet" href="/assets/css/datepicker.css" type="text/css" />
		<link type="text/css" href="/assets/css/style.css" rel="stylesheet">
		<script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/assets/js/datepicker.js"></script>
	</head>
	<body background="/assets/img/bg.png" style="text-align:center;">
		<div id="page_title">
			学生心理发展指导中心预约系统<br>
			咨询师管理
		</div>
		<div style="float:right;width:100%">
			<button onclick="logout();" style="margin:0 50px 10px 0;float:right">退出登录</button>
		</div>
		<div style="padding-top:10px">
			请输入学生学号
			<input type="text" id="query_student" style="width: 100px"/>
			<button onclick="queryStudent();">查看学生信息</button>
		</div>
		<div id="page_maintable" style="font-size:10px;">

		</div>
		<div id="page_bottom"><br><br>清华大学学生心理发展指导中心<br>联系方式：010-62782007</div>

	</body>
	<script type="text/javascript" src="/assets/js/user.js"></script>
	<script type="text/javascript" src="/assets/js/teacher.js"></script>
	<script type="text/javascript">
		viewReservations();
	</script>
</html>
